%header.welcome
  %h1 Todo List
  %p Super simple todo list with easy to use API access.
  %p
    %a.btn.btn-primary.btn-large{:href => new_user_registration_path} Sign up now!
    %a.btn.btn-large{:href => new_user_session_path} Sign in
